<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- undersøg hvorfor der opstår en fejl ved currentPage -->
<head th:replace="fragments/head.html(currentPage='submit')"></head>
<title th:text="${currentPage}"></title>
<body>
<section class="submit-section">
    <div class="formula-center">
        <h1>Wholesome share</h1>
        <form class="formula" action="submit" method="POST">
            <label>share your story</label>
            <input for="share your story" placeholder="write your title here" type="text" name="title">
            <textarea class="content" placeholder="whats on your mind" type="text" name="content"
                      rows="10" cols="10" maxlength="200"></textarea>

            <div class="inline-private">
                <label>Private post?</label>
                <input for="Private post\\?" type="radio" checked="checked">
            </div>

            <div class="inline-date">
                <label>date:</label>
                <input for="date:" placeholder="DD/MM/YYYY" type="date">
            </div>

            <!-- ændre det til en submit input i stedet -->
            <button id="submit-button">submit post</button>

        </form>
    </div>
</section>
</body>
</html>